.container{
    display: grid;
    grid-template-rows:repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);

}
 
.caixa1{
    background-color: red;
    grid-area: 1 /1 /span 1/ span 5;
}
.caixa2{
   background-color: green;
   grid-area: 2/1/span 2/ span 5;
   height: 50px;
}

.caixa3{
    background-color: blue;
    grid-area: 3/5/ span 3/ span 1;
    margin-top: -30px;    
}

.caixa4{
    background-color: rgb(255, 0, 170);
    grid-area: 3/3/ span 2/ span 2;
}


.caixa5{
    background-color: blue;
    grid-area: 2/3/ span 2/ span 2;
}