.container{
    display: grid;
    grid-template-rows:repeat(6, 200px);
    grid-template-columns: repeat(5, 2fr);

}
 
.caixa1{
    background-color: red;
    grid-area: 1 /1 /span 1/ span 5;
}
.caixa2{
   background-color: green;
   grid-area: 2/1/span 2/ span 5;
   height: 50px;
}

.caixa3{
    background-color: blue;
    grid-area: 3/5/ span 3/ span 1;
    margin-top: -30px;    
}

.caixa4{
    background-color: rgb(255, 0, 170);
    grid-area: 3/1/ span 3/  span 4;
    margin-top: -25px;
}


.caixa5{
    background-color: rgb(193, 240, 26);
    grid-area: 6/1/ span 1/ span 5  ;
    height: 20px;
} 